<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="show_sql">true</property>
    	
    	  <property name="hibernate.c3p0.validate">true</property>
    	  <property name="hibernate.c3p0.min_size">5</property>
		  <property name="hibernate.c3p0.max_size">20</property>
		  <property name="hibernate.c3p0.timeout">1800</property>
		  <property name="hibernate.c3p0.max_statements">50</property>
		  <property name="hibernate.c3p0.idle_test_period">3000</property>
		  <property name="hibernate.c3p0.acquireRetryAttempts">3</property>
		  <property name="hibernate.c3p0.acquireRetryDelay">1000</property>
		  <property name="hibernate.c3p0.acquire_increment">1</property>
		  <property name="hibernate.dbcp.validationQuery">SELECT 1</property>
		  <property name="hibernate.dbcp.testOnBorrow">true</property>
		  <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
		  <property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property>
		  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		 	   	
	     <mapping class="com.rest.examinationsystem.assesment.item.entity.AssesmentItem"/>
	     <mapping class="com.rest.examinationsystem.assessment.item.options.entity.AssesmentItemOption"/>
	     
	          
	          	    
    </session-factory>
    
</hibernate-configuration>